<div class="text-center">
<img class="img-fluid" alt="pembuatan website" src="https://1.bp.blogspot.com/-BH2z8XES7KQ/YYLM8sBSwrI/AAAAAAAARoE/e33nz_hd1p88kQYIl1zIxs9fAq_TpZSSQCLcBGAsYHQ/s600/pembuatan%2Bwebsite%2Bmodern.png"/>
<h1><strong><a href="">Pembuatan website + android</a></strong></h1>
<h3>Layanan dan solusi dev website modern dengan technology terbaru dan aplikasi android mu bersama kami.</h3>
</div>
<div class="container">
<div class="row">
<div class="col-12 col-md-6 p-3">
<img class="img-fluid" alt="pembuatan website" 
src="https://1.bp.blogspot.com/-FGVLtUdk60M/YYLM8RU0dfI/AAAAAAAARn8/8-0GC56ITYsyBKhn8nWnNWpR79Ks46LUwCLcBGAsYHQ/s750/developer%2Bwebsite%2Bmodern.png"/>
</div>
<div class="p-3 col-12 col-md-6">
<div class="shadow rounded p-5 text-light" style="background-color:mediumpurple;">
<p>
Era modern khusus nya perkembangan digital yang singifikan seperti saat ini mewajibkan kita untuk ikut update dan upgrade dalam hal technology dengan mengikuti perkembangan technology maka niscaya akan membantu dalam berbagai kebutuhan baik untuk usaha edukasi dan lain sebagai nya, dengan dampak positif ini mari kita kembangkan technology digital mu khusus nya pembuatan website dan aplikasi android informasi bersama team kami. 
</p>
</div>
</div>
</div>
</div>
<div class="text-center col-12">
<img class="img-fluid" alt="pembuatan website"
src="https://1.bp.blogspot.com/-MHOBUXWRDjc/YYLTPLFezLI/AAAAAAAARog/A72U2_-t6iQMNPq0oYhKrQgwnoBI7tXPwCLcBGAsYHQ/s750/pembuatan%2Btoko%2Bonline%2Bshop.png"/>
<p>Dan saat nya memulai digital revolusi untuk bisnis mu.</p>
<a href="/services/" class="p-1 text-white btn rounded" style="background-color:mediumpurple;">
Pilih Layanan mu →
</a>
</div>
<div class="row">
<div class="p-3 col-12 col-md-6">
<img class="img-fluid" alt="pembuatan website"
src="https://1.bp.blogspot.com/-Rk4Jgu4MuqI/YYLM8T_7siI/AAAAAAAARoA/u3rdi_9PN3g6WlQz2LUS0FcDEmC7i7whACLcBGAsYHQ/s600/desain%2Bwebsite%2Bterbaru.png"/>
</div>
<div class="p-3 p-md-5 col-12 col-md-6">
<div class="p-3 p-md-5 ">
<h3><a href="/">WEB DESIGN</a></h3>
<p>Bersama kami untuk kemajuan bisnis usaha mu dengan desain website modern dan tentunya penggunaan technology modern akan menyempurnakan progress build project situs mu , baik untuk company profile, sekolah, restoran cafe, shop toko online , hotel, salon spa, personal dan lain sebagai nya.</p>
</div></div>
<div class="p-3 p-md-5 col-12 col-md-6">
<div class="p-3 p-md-5 ">
<h3><a href="/">DEVELOPE APPS</a></h3>
<p>Buat dan kembangkan aplikasi kerja bisnis mu bersama kami, untuk point of sale aplikasi pos kasir penjualan toko shop restoran cafe, aplikasi untuk edukasi sekolah, aplikasi invoice dan accounting, aplikasi booking reservasi tempat restoran hotel, aplikasi sewa kendaraan , hingga aplikasi android siap upload ke google playstore.</p>
</div>
</div>
<div class="p-3 col-12 col-md-6">
<img class="img-fluid" alt="pembuatan website"
src="https://1.bp.blogspot.com/-TS1EMFncURQ/YYLTPHIcq-I/AAAAAAAARok/FVY9DlbvaLwXtyAhDLM3EcFd6CTL40_ogCLcBGAsYHQ/s600/pembuatan%2Baplikasi%2Bkasir%2Btoko%2Brestoran.png"/>
</div>
<div class="p-3 col-12 col-md-12 text-center">
<img class="img-fluid" alt="pembuatan website"
src="https://1.bp.blogspot.com/-ypei9lKv1ck/YYLTPNdTuuI/AAAAAAAARoc/rA75LF5oyMAslyKQYorZTOHfljm-RsOJgCLcBGAsYHQ/s626/pembuatan%2Bwebsite%2Bkeren.jpg"/>
<div class="p-3 p-md-5 ">
<h3><a href="/">Patner Terbaik</a></h3>
<p>Selalu kembangkan digital technology anda bersama kami untuk solusi terbaik dalam kebutuhan modern website dan applikasi mu.</p>
</div>
</div>
</div>